/target/

### Application specific ###
application-dev.properties
src/main/resources/static/images/
src/main/resources/static/css/
src/main/resources/static/fonts/
src/main/resources/static/favicon.ico
src/main/resources/static/js/
src/main/resources/templates/index.html
